/* css reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics  */
:root{
    --color-header: #ff6900;
    --color-footer: #1a1a1a;
}

body{
    padding-top: 120px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;    
}

li{
    display: inline;
    padding-right: 10px;
}

img{
    display: block;
}

/* debug */
.debug .db-border{
    border: 2px dashed black;
}

header .container > *{
    width: 20px;
}

/* utilities */
.container{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* header */
header{
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px 0;
    box-shadow: 0 2px 2px gray;
}

.logo{
    height: 25px;
    display: block;
}

header .container{
    justify-content: space-between;
}

header .container > *{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.hder-left{
    justify-content: flex-start;
    font-weight: bold;
}

.hder-center{
    justify-content: center;;
}

.hder-right{
    justify-content: flex-end;
}

/* main */
main a{
    color: black;
}

/* main's layout */
.row{
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 50px;
}

.column{
    flex: 0 1 calc((100% - 20px) / 3);
}

.card-picture img{
    max-width: 100%;
}

.card-picture{
    position: relative;
    margin-bottom: 2px;
}

/* card hover logic */

.card-hover-pic{
    display: none;
}

.column:hover .card-hover-pic{
    display: block;
}

.column:hover .card-default-pic{
    display: none;
}

.card-favourite:hover{
    color: red;
}

/* card tags */

.card-favourite{
    font-size: 30px;
    padding: 15px 20px;
    background-color: white;
    position: absolute;
    top: 10px;
    right:0;
}

.card-tag{
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;    
    bottom: 75px;
    left: 0;
}

.card-tag > *{
    padding: 5px 10px;
}

.card-tag .discount{
    background-color: red;
}

.card-tag .sustainable{
    background-color: #008000;
}

/* card bottom text styling */
.card-bottom{
    font-size: 14px;
}

.card-bottom .clothing-name{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.card-bottom .clothing-price-actual{
    color: red;
    font-weight: bolder;
}

.card-bottom .clothing-price-original{
    text-decoration: line-through;
}

/* footer */
footer{
    margin-top: 50px;
    background-color: var(--color-footer);
    color: white;
    padding: 30px;
    font-size: 12px;
}

footer .container.flex{
    justify-content: space-between;
}

.fter-about{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fter-right{
    text-align: center;
}

.fter-social{
    font-weight: bold;
    margin-bottom: 10px;
}

.fter-social-icon{
    font-size: 25px;
}